<<<<<<< HEAD
nav {
  height: 100px;
  border: 1px solid red;
  background-color: white;
  display: flex;
=======
nav{
    width: 100%;
    height: 100px;
    box-shadow: 0px  10px 20px orange;
    background-color: white;
    display: flex;
>>>>>>> 3a6a90250fa4a63389dbc40eaa730db13996eee9
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
<<<<<<< HEAD

.lists {
  text-align: center;
  display: flex;
  list-style: none;
=======
.logo{
    cursor: pointer;
}
.lists{
    text-align: center;
    display: flex;
    list-style: none;
>>>>>>> 3a6a90250fa4a63389dbc40eaa730db13996eee9
}
li {
  color: black;
  font-size: x-large;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  padding: 15px;
}
<<<<<<< HEAD
li:hover {
  background-color: cadetblue;
}

.button {
  margin-top: 10px;
  padding: 20px;
  margin-left: 15px;
  border-radius: 25px;
  background-color: cadetblue;
  font-size: larger;
  cursor: pointer;
=======
li:hover{
    color: orange;
}

.button{
    /* margin-top: 10px; */
    width: 150px;
    padding: 15px 20px ;
    margin-left: 15px;
    border-radius: 14px;
    background: linear-gradient(to right, #f83600 0%, #f9d423 100%);;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;


}
.button:hover{
    background: white;
    color: orange;
    border: 1px solid orange;
>>>>>>> 3a6a90250fa4a63389dbc40eaa730db13996eee9
}

.lists li a {
  color: #000;
  text-decoration: none;
}
