* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /* background-color: black; */
  background-repeat: no-repeat;
  margin: 0;
}

/* ---------------- Main Section Style -------------  */
.container {
  height: 70vh;
  width: 100%;
  display: flex;
  /* background-color: beige; */
  /* background-color: rgba(190, 6, 6, 0.3); */
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  
}

.top-section .head h3 {
  font-size: 4rem;
  color: black;
  margin: 1.5rem 1rem;
}

.head .small {
  margin: -1rem 0 0 0;
  text-align: right;
  padding: 00 0 0.3rem;
  color: #0f276d;

}
.form-section{
  margin: 1rem ;
}

.input-field {
  background: #fff;
  /* padding: 1rem; */
  height: 3rem;
  border-radius: 1rem;
  max-width: 400px;
  display: flex;
  align-items: center;
}
.search-inp {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1rem;
  font-size: 1.1rem;
}
.submit-btn {
  background: linear-gradient(to right, #f83600 0%, #f9d423 100%);;

  border: 0;
  outline: 0;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
  color: #fff;
  width: 30%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.result-input {
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; */
  background: rgba(34, 34, 34, 0.62);
  border-radius: 1rem;
  margin: 1rem 0;
  align-items: center;
  color: #fff;
}

p.result-link {
  font-size: 1.2rem;
  padding: 1rem;
}
.submit-btn span i {
  margin-right: 1.5rem;
}

.copy-icon i {
  font-size: 1rem;
  padding: 1.5rem;
}
/* BackGround Animation */

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: red;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 10s linear infinite;
}




.background li:nth-child(0) {
  left: 79%;
  width: 151px;
  height: 151px;
  bottom: -151px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 14%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 4%;
  width: 150px;
  height: 150px;
  bottom: -150px;
  animation-delay: 5s;
}
.background li:nth-child(3) {
  left: 87%;
  width: 65px;
  height: 65px;
  bottom: -65px;
  animation-delay: 3s;
}
.background li:nth-child(4) {
  left: 13%;
  width: 179px;
  height: 179px;
  bottom: -179px;
  animation-delay: 16s;
}
.background li:nth-child(5) {
  left: 49%;
  width: 90px;
  height: 90px;
  bottom: -90px;
  animation-delay: 5s;
}
.background li:nth-child(6) {
  left: 35%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  animation-delay: 25s;
}
.background li:nth-child(7) {
  left: 10%;
  width: 168px;
  height: 168px;
  bottom: -168px;
  animation-delay: 30s;
}
.background li:nth-child(8) {
  left: 21%;
  width: 79px;
  height: 79px;
  bottom: -79px;
  animation-delay: 10s;
}
.background li:nth-child(9) {
  left: 69%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  animation-delay: 24s;
}
.background li:nth-child(10) {
  left: 62%;
  width: 182px;
  height: 182px;
  bottom: -182px;
  animation-delay: 20s;
}
.background li:nth-child(11) {
  left: 33%;
  width: 78px;
  height: 78px;
  bottom: -78px;
  animation-delay: 49s;
}
.background li:nth-child(12) {
  left: 74%;
  width: 182px;
  height: 182px;
  bottom: -182px;
  animation-delay: 33s;
}
.background li:nth-child(13) {
  left: 16%;
  width: 157px;
  height: 157px;
  bottom: -157px;
  animation-delay: 65s;
}
.background li:nth-child(14) {
  left: 48%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 22s;
}
.background li:nth-child(15) {
  left: 11%;
  width: 89px;
  height: 89px;
  bottom: -89px;
  animation-delay: 70s;
}
.background li:nth-child(16) {
  left: 3%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  animation-delay: 64s;
}
.background li:nth-child(17) {
  left: 48%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 29s;
}
.background li:nth-child(18) {
  left: 75%;
  width: 65px;
  height: 65px;
  bottom: -65px;
  animation-delay: 73s;
}

