* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: black; */
  background-repeat: no-repeat;
  margin: 0;
}

/* ---------------- Main Section Style -------------  */
.container {
  height: 70vh;
  width: 100%;
  display: flex;
  /* background-color: beige; */
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.top-section .head h3 {
  font-size: 4rem;
  color: #fff;
  margin: 1rem 1rem;
}

.head .small {
  margin: -1rem 0 0 0;
  text-align: right;
  padding: 00 0 0.3rem;
  color: #d5d5d5;
}

.input-field {
  background: #fff;
  /* padding: 1rem; */
  height: 3rem;
  border-radius: 1rem;
  max-width: 400px;
  display: flex;
  align-items: center;
}
.search-inp {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1rem;
  font-size: 1.1rem;
}
.submit-btn {
  background: #240080;
  border: 0;
  outline: 0;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
  color: #fff;
  width: 30%;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.result-input {
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; */
  background: rgba(34, 34, 34, 0.62);
  border-radius: 1rem;
  margin: 1rem 0;
  align-items: center;
  color: #fff;
}

p.result-link {
  font-size: 1.2rem;
  padding: 1rem;
}
.submit-btn span i {
  margin-right: 1.5rem;
}

.copy-icon i {
  font-size: 1rem;
  padding: 1.5rem;
}